/* shape라는 class 생성 */

.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.rectangle {
    height: 10px;
    width: 10px;
    border: 1px solid red;
    background-color: chartreuse;
}